:root {
    /* Primary Color: Base #9F3E19 */
--color-primary-950: #9F3E19;
--color-primary-900: #A34623;
--color-primary-800: #AD5A3A;
--color-primary-700: #B76D51;
--color-primary-600: #C18068;
--color-primary-500: #CB947F;
--color-primary-400: #D4A694;
--color-primary-300: #DEB9AB;
--color-primary-200: #E8CCC2;
--color-primary-100: #F3E2DB;
--color-primary-50:  #FCF3F0;

    
    /* Secondary Color: Base #DC6D15 */
--color-secondary-950: #DC6D15;
--color-secondary-900: #DD7623;
--color-secondary-800: #E1873D;
--color-secondary-700: #E39856;
--color-secondary-600: #E6A96F;
--color-secondary-500: #E9BA88;
--color-secondary-400: #EDC9A0;
--color-secondary-300: #F0D9B9;
--color-secondary-200: #F4E4D0;
--color-secondary-100: #FAEEE4;
--color-secondary-50:  #FDF5EF;

    /* Tertiary Color: Base #fbe8d6 (200) */
    --color-tertiary-950: #BFAA92;
    --color-tertiary-900: #E8D6C3;
    --color-tertiary-800: #D8C0A5;
    --color-tertiary-700: #b35d3d;
    --color-tertiary-600: #d27856;
    --color-tertiary-500: #e09575;
    --color-tertiary-400: #ebb496;
    --color-tertiary-300: #f4d1b8;
    --color-tertiary-200: #fbe8d6;
    --color-tertiary-100: #fdfaf6;
    --color-tertiary-50: #fffdfb;
    
    /* Basic color */
    --white: #fff;
    --black: #000;
    --color-gray-950:#101010;
    --color-gray-900:#262626;
    --color-gray-800:#3B3B3B;
    --color-gray-700:#515151;
    --color-gray-600:#676767;
    --color-gray-500:#7D7D7D;
    --color-gray-400:#929292;
    --color-gray-300:#A8A8A8;
    --color-gray-200:#D4D4D4;
    --color-gray-100: #D4D4D4;
    --color-gray-50: #E9E9E9;

    /* Font-family */

    
    --main-font: Helvetica, Arial, sans-serif;
    --font-heading: Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;


    /* Font weigths crudos */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Font-size */

    --fs-xxxxl: 5rem; /*ultra grande*/
    --fs-xxxl: 4rem;/*super grande*/
    --fs-xxl: 3rem;/*extra grande*/
    --fs-xl: 2.5rem;/*muy grande*/
    --fs-lg: 2rem;/*h1*/
    --fs-md:1.5rem;/*titulo*/
    --fs-sm:1.25rem;/*subtitulo*/
    --fs-xs:1rem;/*base*/
    --fs-xxs:0.875rem;;/*texto de apoyo*/
    --fs-xxxs: 0.75rem;/*texto de apoyo 2*/
    --fs-xxxxs: 0.5rem;/*label*/
}

